body {
  background-color: black;
}

.recipe {
  display: flex;
  justify-content: center;
  text-align: center;
}

.recipe-column {
  display: flex;
  align-items: center;
  box-shadow: rgba(255, 9, 9, 0.486) 0px 5px 15px;
  border-radius: 2%;
  margin-top: 2.5rem;
}

.content {
  border: 5px;
  color: rgb(173, 147, 173);
  padding: 5px 2rem;
  width: 25rem;
}

.content img {
  width: 300px;
  height: 220px;
  margin-bottom: 1rem;
}
