.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}

.content {
  padding: 10px 4rem;
}
